@font-face {
    font-family: 'Square721BT';
    src: url('/website_firenor/static/src/fonts/square_721_bt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, p, h1, h2, h3, h4, h5, h6, .o_web_client, .o_website_theme, .o_website_theme * {
    font-family: 'Square721BT', sans-serif !important;
}

.text-o-color-3 {
    color: #6e6e6e !important;
    }

// Navigation Bar
.navbar #top_menu, .navbar .top_menu {
    flex-wrap: nowrap;
    margin-left: auto !important;
    margin-right: 100px !important;
}

.o_main_navbar {
    border-bottom: 3px solid #47a5ae !important;
    background: #47a5ae !important;
}

.navbar-light .navbar-nav .nav-link{
    color: #333333 !important;
    border-bottom: 3px solid rgba(255, 255, 255, 0) !important;
    }

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:active{
    color: #47a5ae;
    border-bottom: 3px solid #47a5ae !important;
 }

.o_main_navbar .o_menu_sections .o_nav_entry, .o_main_navbar .o_menu_sections .dropdown-toggle {
    background: var(--NavBar-entry-backgroundColor, #47a5ae);
}


.btn-primary {
  color: #FFFFFF !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}

.btn-outline-primary {
  color: #333333 !important;
  border-color: #333333 !important;
}

.btn-outline-primary:hover {
    color: #FFFFFF !important;
    background-color: #333333 !important;
}

.btn-outline-secondary:hover {
    color: #FFFFFF !important;
    background-color: #47a5ae !important;
}

.btn-secondary{
    color: white !important;
    background-color: #333333 !important;
    }


.btn.flat {
    border: 0;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 0.75rem 1.5rem;
    font-size: 0.75rem;
    border-radius: 0;
    color: white !important;
}

.o_action_manager .o_control_panel_main .btn:hover{
    background-color: lightgray !important;
    }


.bg-action, .text-bg-action {
  --background-color: RGBA(51, 51, 51, var(--bg-opacity, 1)) !important;
  background-color: var(--background-color) !important;
}

.text-primary {
  --color: RGBA(51, 51, 51, var(--text-opacity, 1)) !important;
  color: var(--color) !important;
}

.border-primary {
  border-color: #c4122f !important;
}

.alert-primary {
  color: #333333 !important;
  background-color: #47a5ae85 !important;
  border-color: #47a5ae85 !important;
}


.o_calendar_renderer .o_calendar_widget .fc-timeGridDay-view .fc-day-header.fc-today, .o_calendar_renderer .o_calendar_widget .fc-timeGridWeek-view .fc-day-header.fc-today {
  --o-cw-bg: #47a5ae !important;
}

.o_calendar_renderer .o_calendar_widget .fc-dayGridMonth-view .fc-content-skeleton .fc-day-top.fc-today {
  --o-cw-bg: #47a5ae !important;
}


.o-mail-Chatter-top:has(.o-mail-Chatter-sendMessage.active) .o-mail-Composer {
  background-color:  #47a5ae !important;
}

.o-mail-DiscussSidebar-item, .o-mail-DiscussSidebar-item.o-active{
    background-color:  white !important;
    color: #333333 !important;
    }

.badge.text-bg-default, .badge.bg-light, .badge.text-bg-light, .badge.bg-default, .badge.text-primary{
  outline: 1px solid #47a5ae !important;
}

.form-check-input:checked {
  background-color: #47a5ae !important;
  border-color: #47a5ae !important;
}

.o_notebook {
  --notebook-link-border-color-hover: #47a5ae !important;
  --notebook-link-border-color-active: var(--border-color, #47a5ae ) !important;
  --notebook-link-border-color-active-accent: var(--border-color, #47a5ae ) !important;
}

.badge {
  font-weight: 100 !important;
}

.navbar-light .btn-outline-secondary.dropdown-toggle.show{
    color: #212529;
    background-color: #47A5AE;
}

.fw-bold {
  font-weight: 300 !important;
}


.o_wslides_fs_slide_name .text-truncate{
    color: white !important;
    }

.rounded-circle {
  color: gray;
}


//Status button
.o_field_statusbar > .o_statusbar_status > .o_arrow_button.o_first:not(.d-none), .o_field_statusbar_duration > .o_statusbar_status > .o_arrow_button.o_first:not(.d-none) {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    padding-right: 16px;
    overflow: hidden;
    color: #343a40 !important;
    background-color: #dee2e6 !important;
    border-color: #dee2e6 !important;
}

.o_field_statusbar > .o_statusbar_status > .o_arrow_button.o_arrow_button_current:not(.d-none):disabled, .o_field_statusbar_duration > .o_statusbar_status > .o_arrow_button.o_arrow_button_current:not(.d-none):disabled, .o_field_statusbar > .o_statusbar_status > .o_arrow_button:not(.d-none):active:not(.o_first), .o_field_statusbar_duration > .o_statusbar_status > .o_arrow_button:not(.d-none):active:not(.o_first) {
    background-color: #dddbe8 !important;
    border-color: #71639e !important;
    color: #212529 !important;
}


.o_field_statusbar > .o_statusbar_status > .o_arrow_button:not(.d-none), .o_field_statusbar_duration > .o_statusbar_status > .o_arrow_button:not(.d-none) {
    position: relative;
    padding-left: 1.5em;
    border-radius: 0;
    background-color: #dee2e6 !important;
    color: #333333 !important;
}


.s_hr hr {
    padding: 0 !important;
    border: 0 !important;
    /* border-top: px solid var(--o-border-color) !important; */
    margin: 0 !important;
    opacity: 1 !important;
    background: linear-gradient(to right, #c4122f 18%, #47a5ae 18%) !important;
    height: 3px !important;
}

.rounded-circle, .fa.rounded-empty-circle {
    color: white !important;
}

.oi-search:before {
    content: '\e808';
    color: #47a5ae;
}