@font-face {
    font-family: 'Square721BT';
    src: url('/website_firenor/static/src/fonts/square_721_bt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, p, h1, h2, h3, h4, h5, h6, .o_web_client, .o_website_theme, .o_website_theme * {
    font-family: 'Square721BT', sans-serif !important;
}


// NavigationBar Front End
.navbar #top_menu, .navbar .top_menu {
    flex-wrap: nowrap;
    margin-left: auto !important;
    margin-right: 1% !important;
}


// Main Buttons
.btn-outline-secondary{
    color: #47a5ae !important;
    border-color: #47a5ae !important;
    font-weight: 100 !important;
}

.btn-outline-secondary:hover {
    color: white !important;
    border-color: #47a5ae !important;
    background-color: #47a5ae !important;
}

.navbar-light .btn-outline-secondary.dropdown-toggle.show{
    background-color: white !important;
    }

.navbar-light .btn-outline-secondary.dropdown-toggle.show:hover{
    background-color: white !important;
    color: #47a5ae !important;
    }


//Custom separator
.s_hr hr {
    background: linear-gradient(to right, #c4122f 18%, #47a5ae 18%) !important;
    height: 3px !important;
}


//Course Page
.o_wslides_course_pict {
    border: 1px solid white !important;
}

